.edit-title-view
  
  a
    color #6EB7F0
    text-decoration none

  button
    padding 4px 7px
    font-size 13px

  input
    padding 4px 7px
    width 400px
    font-size 13px
    border-radius 3px
    border 1px solid #ccc
