.gistbook
  border 1px solid #ccc
  box-shadow 0 0 0 4px #f6f6f6
  border-radius 3px
  width   590px
  margin  0 auto
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  a i
    text-decoration none

.gistbook-header
  padding 5px 10px
  background #eee
  border-bottom 1px solid #ccc
  h1
    cursor default
    color #777
    font-size 13px
    font-weight bold
    text-shadow 0 1px #fff

.gistbook-container
  padding 20px 20px

.gistblock
  cursor  default
  width   530px
  margin  0 auto

.gistblock-container
  position relative
  padding 15px
  width 500px

.gistblock-container > a
  position absolute
  z-index 1000
  display none
  top 3px
  color #30A6F5
  &.gistblock-move
    cursor -moz-grab
    cursor -webkit-grab
    cursor grab
    left 10px
  &.gistblock-delete
    right 10px
  &.gistblock-edit
    right 30px

.gistblock-container
  &:hover
    padding 14px
    border 1px solid #98D0F5
    border-radius 3px

.gistbook-container > .gistblock
  margin-top 35px
  padding-top 35px
  &:first-child
    margin-top 0
    padding-top 0

.gistbook-container > .gistblock-text
  border-top 1px solid #eee
  &:first-child
    border-top 0

.gistblock-javascript + .gistblock-text
  border-top 0
  margin-top 0
