<a href='#' class='gistblock-move'><i class='fa fa-bars'></i></a>
<a href='#' class='gistblock-edit'><i class='fa fa-pencil'></i></a>
<a href='#' class='gistblock-delete'><i class='fa fa-trash-o'></i></a>
<div class='gistblock-content'></div>
