.display-title-view
  font-size 13px
  color #777
  
  h1
    cursor default
    font-weight bold
    text-shadow 0 1px #fff
    display inline-block
    max-width 540px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    vertical-align bottom
  
  .gistbook-title-edit
    display none
    color #aaa
    text-decoration none

  &.editable .gistbook-title-edit
    display inline-block
  
