button,
.button
  text-decoration none
  font-size     14px
  font-weight   bold
  font-family   Arial, sans-serif
  color         #000
  font-shadow   0 -1px #fff
  border        1px solid #d3d3d3
  border-top    1px solid #e3e3e3
  border-radius 3px
  display       inline-block
  outline none

  background       linear-gradient(top, #fdfdfd, #ececec);
  background-color #f5f5f5

  padding       8px 13px

  &:hover
    background       linear-gradient(top, #ebebeb, #ddd);
    background-color #eaeaea
    border     1px solid #cacaca
    border-top 1px solid #d3d3d3

  &:active
    background       linear-gradient(top, #d8d8d8, #ebebeb);
    background-color #ddd

button.blue
.button.blue
  color #FFF
  text-shadow 0 -1px #576CA2
  border 1px solid #4374A2
  border-top 1px solid #5A96CE
  background  linear-gradient(top, #8BB7E7, #468BB9)
  &:hover
    background       linear-gradient(top, #5F9BDD, #31709B)
    background-color #5F9BDD
    border     1px solid #3C6388
    border-top 1px solid #4374A2
