.gistblock-editor ul
  li
    display inline-block
  a
    display block
    padding 9px 8px 5px
    text-decoration none
    color #000
    background #fff
    &.active-tab
      padding 8px 15px 6px
      border 1px solid #ccc
      border-bottom 0
      border-radius 4px 4px 0 0
      position relative
      bottom -1px

.gistblock-editor .gistblock-content
  height 60px
  border-top 1px solid #ccc

.gistblock-editor button
  width: 80px

.gistblock-editor .button-container
  text-align right
