.gistbook
  border 1px solid #ccc
  box-shadow 0 0 0 4px #f6f6f6
  border-radius 3px
  width   590px
  margin  0 auto
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  a i
    text-decoration none

.gistbook-header
  padding 5px 10px
  background #eee
  border-bottom 1px solid #ccc
  h1
    cursor default
    color #777
    font-size 13px
    font-weight bold
    text-shadow 0 1px #fff

.gistbook-container
  padding 20px 20px
