.gistblock
  cursor  default
  width   100%

.gistblock-container
  position relative
  padding 15px
  width 550px

.gistblock-container > a
  position absolute
  z-index 1000
  display none
  top 3px
  color #30A6F5
  &.gistblock-move
    cursor -moz-grab
    cursor -webkit-grab
    cursor grab
    left 10px
  &.gistblock-delete
    right 10px
  &.gistblock-edit
    right 30px

.gistblock-container
  &:hover
    padding 14px
    border 1px solid #98D0F5
    border-radius 3px

.ace_editor
  border 1px solid #ddd
  border-radius 3px
