.gistbook
  border 1px solid #ccc
  border-radius 3px
  width   590px
  padding 30px 20px
  margin  0 auto
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  a i
    text-decoration none
