.gistbook-row-controls
  hr
    position absolute
    top 50%
    display none
    margin 0
    border-color #98D0F5
    width 100%
  position relative
  width 100%
  height 30px
  ul
    display none
    position absolute
    top 4px
    left 50%
    margin-left -50px
    width 100px
    background #fff
    text-align center
  li
    display inline-block
    margin 0 5px
  &:hover ul,
  &:hover hr
    display block
  a
    padding 2px
    i
      color #30A6F5
